/* Responsive (Mobile) */

@media (max-width: 768px){
  .sidebar{
    transform: translateX(0);
  }

  .sidebar.close{
    transform: translateX(-100%);
    width: 250px;
  }

  .home{
    left: 0;
    width: 100%;
  }
}